.articles-main-container {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.articles-main-container .article {
  max-height: 350px;
  max-width: 300px;

  /* margin: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 2px solid black;
  padding: 10px;
  &:hover {
    border: 2px solid white;
  }
}

.articles-main-container .article .article-image {
  overflow: hidden;
  height:100%;
  width: 100%;
}

.articles-main-container .article .article-image img {
  height:70%;
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.articles-main-container .article:hover img {
  transform: scale(1.2);
}

@media screen and (min-width: 980px) {
  .articles-main-container .article {
    width: 30vw;
    height: 35vw;
    margin: 2.5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .articles-main-container .article {
    width: 30vw;
    height: 35vw;
    margin: 2.5vw;
  }
}
@media screen and (max-width: 768px) {
  .articles-main-container .article {
    width: 90vw;
    height: 100vw;
    margin: 5vw;
  }
}