@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  background: #fbfbfd;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fbfbfd;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 6px;
}
