@font-face {
  font-family: "LXGWWenKai-Bold";
  src: url('./assets/font/LXGWWenKai-Bold.ttf');
}


* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
  display: none;
}

/* *::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 5px; 
}

*::-webkit-scrollbar-thumb:hover {
  background: #ababab; 
} */