@import "tailwindcss";


@theme {
  --color-mint-950: #1D1D1F;
  --color-mint-900: #333336;

  --color-mint-500: #6c6c6c;

  --color-mint-100: #F5F5F7;
  --color-mint-50: #FAFAFC;

  /*--color-mint-950: #FAFAFC;*/
  /*--color-mint-900: #F5F5F7;*/

  /*--color-mint-500: #6c6c6c;*/

  /*--color-mint-100: #333336;*/
  /*--color-mint-50: #1D1D1F;*/
}
